{% extends 'base.html' %}
{% block title %} AjkerOrder | Sign Up {% endblock title %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block body %}

<body>
    <div style="padding: 50px;">
      <form action="" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-success btn-sm">Create Account</button>
    </form>
    <br>
    <p>Already Have an Account? <a href="{% url 'fashion_app:login' %}">Login Here</a></p>
    </div>
</body>

{% endblock %}