{% extends 'base.html' %}
{% block title %} BGD Fashion | Checkout {% endblock title %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block body %}

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<div class="checkout-discount">
            				{% comment %} <form action="#">
        						<input type="text" class="form-control" required id="checkout-discount-input">
            					<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
            				</form> {% endcomment %}
            			</div><!-- End .checkout-discount -->
            			<form action="" method="POST">
                            {% csrf_token %}
		                	<div class="row">
		                		<div class="col-lg-9">
		                			<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
		                			
                                    {% comment %} {{ billing_address.as_p }} {% endcomment %}



									
											<div class="row">
												<div class="col-sm-6">
													{{ billing_address.name|as_crispy_field }}
												</div><!-- End .col-sm-6 -->

											</div><!-- End .row -->
												

											{{ billing_address.phone_number|as_crispy_field }}

											{{ billing_address.address|as_crispy_field }}
	
									

		                		</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
		                						
                                                {% for item in order_item %}

		                						<tr>
		                							<td><a href="#">{{ item.item.name }}</a></td>
													{% if item.get_total %}
		                							<td>৳{{ item.get_total }}</td>
													{% elif item.variation_single_price %}
													<td>৳{{ item.variation_single_price }}</td>
													{% elif item.variation_total %}
													<td>৳{{ item.variation_total }}</td>
													{% endif %}
		                						</tr>

                                                {% endfor %}

		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>৳{{ order_total }}</td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping:</td>
		                							<td>Free Delivery</td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td>{{ order_total }}</td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
										    <div class="card">
										        {{ payment_method.as_p }}
												<br>
										    </div><!-- End .card -->
										</div><!-- End .accordion -->

		                				<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span class="btn-text">Place Order</span>
		                					<span class="btn-hover-text">Proceed to Checkout</span>
		                				</button>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        {% endblock %}
